#listHeading {
  text-align: center;
  color: rgb(218, 11, 187);
  text-shadow: black;
  font-family: system-ui, sans-serif;
  }

.list {
  text-align: center;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  font-family: system-ui, sans-serif;
}

.item{
  padding-bottom: 4px;
  font-family: system-ui, sans-serif;
}

.button {
  margin: 10px;
  display: none;
  font-family: system-ui, sans-serif;
}

form {
  /* Center the form on the page */
  margin: 1rem;
  text-align: center;
  color: rgb(121, 39, 148);
  font-family: system-ui, sans-serif;
  /* Form outline */
}


