.heading {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(121, 39, 148);
  text-align: center;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: rgb(68, 13, 232);
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

